* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 1200px;
    margin: 0px auto;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.log {
    width: 195px;
    height: 42px;
    float: left;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0px 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
    line-height: 42px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}


/* search部分 */

.search {
    float: left;
    height: 42px;
    width: 412px;
    margin-left: 50px;
}

.search input {
    float: left;
    height: 40px;
    width: 360px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    text-indent: 2em;
}

.search button {
    float: left;
    height: 42px;
    width: 50px;
    border: 0;
    background-image: url(./imgs/bt.png);
}


/* 用户头像 */

.user {
    float: right;
    font-size: 14px;
    color: #666;
    margin-right: 36px;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(./imgs/banner2.png) no-repeat top center;
}

.subnav {
    height: 421px;
    width: 191px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 43px;
    padding: 0px 20px;
    line-height: 43px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #0d4a89;
}